###> IDE ###
/.idea/
/nbproject/
###< IDE ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/entrypoints.json
/public/manifest.json
/public/*.txt
npm-debug.log
###< symfony/webpack-encore-bundle ###
