<nav class="navbar topbar navbar-expand navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('tournikoti_crud_dashboard') }}">
            Administration
        </a>

        {{ knp_menu_render('admin-topbar') }}
    </div>
</nav>
